service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tempuri.org/"
                  targetNamespace="http://tempuri.org/">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://tempuri.org/"
                   elementFormDefault="qualified">

            <xs:element name="LoginRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RegisterRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RegisterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LogoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LogoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SortHighRequest">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SortHighResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="AuthorRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="author" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="AuthorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ModifyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="key" type="xs:string"/>
                        <xs:element name="value" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ModifyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UsersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="LoginRequest">
        <wsdl:part name="parameters" element="tns:LoginRequest"/>
    </wsdl:message>

    <wsdl:message name="LoginResponse">
        <wsdl:part name="parameters" element="tns:LoginResponse"/>
    </wsdl:message>

    <wsdl:message name="RegisterRequest">
        <wsdl:part name="parameters" element="tns:RegisterRequest"/>
    </wsdl:message>

    <wsdl:message name="RegisterResponse">
        <wsdl:part name="parameters" element="tns:RegisterResponse"/>
    </wsdl:message>

    <wsdl:message name="LogoutRequest">
        <wsdl:part name="parameters" element="tns:LogoutRequest"/>
    </wsdl:message>

    <wsdl:message name="LogoutResponse">
        <wsdl:part name="parameters" element="tns:LogoutResponse"/>
    </wsdl:message>

    <wsdl:message name="SortHighRequest">
        <wsdl:part name="parameters" element="tns:SortHighRequest"/>
    </wsdl:message>

    <wsdl:message name="SortHighResponse">
        <wsdl:part name="parameters" element="tns:SortHighResponse"/>
    </wsdl:message>

    <wsdl:message name="SortLowRequest">
        <wsdl:part name="parameters" element="tns:SortLowRequest"/>
    </wsdl:message>

    <wsdl:message name="SortLowResponse">
        <wsdl:part name="parameters" element="tns:SortLowResponse"/>
    </wsdl:message>

    <wsdl:message name="AuthorRequest">
        <wsdl:part name="parameters" element="tns:AuthorRequest"/>
    </wsdl:message>

    <wsdl:message name="AuthorResponse">
        <wsdl:part name="parameters" element="tns:AuthorResponse"/>
    </wsdl:message>

    <wsdl:message name="ModifyRequest">
        <wsdl:part name="parameters" element="tns:ModifyRequest"/>
    </wsdl:message>

    <wsdl:message name="ModifyResponse">
        <wsdl:part name="parameters" element="tns:ModifyResponse"/>
    </wsdl:message>

    <wsdl:message name="UsersRequest">
        <wsdl:part name="parameters" element="tns:UsersRequest"/>
    </wsdl:message>

    <wsdl:message name="UsersResponse">
        <wsdl:part name="parameters" element="tns:UsersResponse"/>
    </wsdl:message>

    <wsdl:portType name="LibraryPortType">
        <wsdl:operation name="Login">
            <wsdl:input message="tns:LoginRequest"/>
            <wsdl:output message="tns:LoginResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Register">
            <wsdl:input message="tns:RegisterRequest"/>
            <wsdl:output message="tns:RegisterResponse"/>
        </wsdl:operation>

        <wsdl:operation name="Logout">
            <wsdl:input message="tns:LogoutRequest"/>
            <wsdl:output message="tns:LogoutResponse"/>
        </wsdl:operation>

        <wsdl:operation name="SortHigh">
            <wsdl:input message="tns:SortHighRequest"/>
            <wsdl:output message="tns:SortHighResponse"/>
        </wsdl:operation>

        <wsdl:operation name="SortLow">
            <wsdl:input message="tns:SortLowRequest"/>
            <wsdl:output message="tns:SortLowResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="Author">
            <wsdl:input message="tns:AuthorRequest"/>
            <wsdl:output message="tns:AuthorResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="Modify">
            <wsdl:input message="tns:ModifyRequest"/>
            <wsdl:output message="tns:ModifyResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="Users">
            <wsdl:input message="tns:UsersRequest"/>
            <wsdl:output message="tns:UsersResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LibraryBinding" type="tns:LibraryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="Login">
            <soap:operation soapAction="Login"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Register">
            <soap:operation soapAction="Register"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Logout">
            <soap:operation soapAction="Logout"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SortHigh">
            <soap:operation soapAction="SortHigh"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SortLow">
            <soap:operation soapAction="SortLow"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Author">
            <soap:operation soapAction="Author"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Modify">
            <soap:operation soapAction="Modify"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Users">
            <soap:operation soapAction="Users"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="LibraryService">
        <wsdl:port name="LibraryPort" binding="tns:LibraryBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
